@model IEnumerable<prototipo1204.Models.Adm>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeAdm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailAdm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeAdm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailAdm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario.idUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idAdm">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idAdm">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
