@model IEnumerable<prototipo1204.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.codBar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precoProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtdProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marcaProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricaoProd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.codBar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precoProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marcaProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricaoProd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.idCategoria)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idProd">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idProd">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
